
/* main css start  */


.fz-1{
 font-size: 24px;
}

.mt-1{
  margin-top: 8px;
}
.mb-1{
  margin-bottom: 8px;
}
.mb-2{
  margin-bottom: 16px;
}
.pt-3{
  padding-top: 24px;
}
.pb-3{
  padding-bottom: 24px;
}
.mb-3{
  margin-bottom: 24px;
}
.pt-4{
  padding-top: 32px;
}
.mb-4{
  margin-bottom: 32px;
}
.mb-5{
  margin-bottom: 40px;
}
.mt-6{
  margin-top: 48px;
}
.mb-6{
  margin-bottom: 48px;
}
.mb-9{
  margin-bottom: 72px;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}
.block{
  display: block;
}

.title {
  margin-top: 40px;
  font-size: 80px;
  line-height: 94px;
  border-bottom: 2px solid #000;
  padding-bottom: 16px;
}

.subTitle{
    font-size: 32px;
    line-height: 45px;
    border-bottom: 1px solid #000;
    font-weight: 600;
}

.subTitle span{
  color: #A00404;
  padding-bottom: 16px;
  padding-left: 16px;
  font-size: 24px;
}

.subTitle-white{
  color:#fff;
  border-bottom: 1px solid #fff;
  text-align: center;
}

.subTitle-white span{
  color: #fff;
 padding-left: 16px;
}

.darkBlue{
  background: #415165;
}

.skills{
    width: 996px;
    color: #fff;
    margin: 0 auto;
    padding-bottom: 36px;
}

.skill-content{
  width: 250px;
  border-left: 1px solid #96A9C4;
  margin: 0 auto;
  padding-left: 24px;
}

.skill-content li{
  padding-bottom: 20px;
}

.work-list{
  border-left: 1px solid #96A9C4;
  padding-left: 24px;
  margin-left: 24px;
}

.method{
  text-align: center;
  color:#fff;
}

.method>li>a{
  text-decoration: none;
}